extends ../../layout

block content

    div.container

        div.row

            div.col-md-8.offset-md-2.col-sm-12

                h1=title

                a(href="/ledger") Go back to Ledger list

                br
                br

                a(href=ledger.entryUrl) Add Entry

                div(style="margin-top:10px")
                    | Income #{income}
                    | Expense #{expense}
                    | Total #{Math.round(Math.abs(income)-Math.abs(expense))}

                ul.ledger-entry-list
                    if entries.length>0

                        for entry in entries

                            li.ledger-entry(class=entry.credit ? "entry-credit" : "entry-debit")

                                a(href='javascript:void(0)')

                                    div.ledger-entry-desc.float-left
                                        div.ledger-entry-name=entry.name
                                        div.ledger-entry-date=entry.created_at_formatted
                                        
                                    div.ledger-entry-amount.float-left
                                        | #{entry.credit ? "-" : "+" } #{entry.amount}
                    else
                        li There is no entry why not insert one
